In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
 df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [5]:
df.shape[0]

9704

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [7]:
df['fuel_type'].nunique()

2

In [8]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [9]:
df["origin"].value_counts()

origin
Europe    3254
Asia      3247
USA       3203
Name: count, dtype: int64

In [10]:
df[df["origin"]=="Asia"]["fuel_efficiency_mpg"].max()

np.float64(23.759122836520497)

In [11]:
df['horsepower'].median()

np.float64(149.0)

In [12]:
df['horsepower'].value_counts()

horsepower
152.0    142
145.0    141
151.0    134
148.0    130
141.0    130
        ...
40.0       1
57.0       1
245.0      1
252.0      1
61.0       1
Name: count, Length: 192, dtype: int64

In [13]:
df['horsepower'] = df['horsepower'].fillna(152.0)

In [14]:
df['horsepower'].median()

np.float64(152.0)

In [15]:
asia = df[df['origin']=='Asia']

In [16]:
asia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3247 entries, 8 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  3247 non-null   int64
 1   num_cylinders        3099 non-null   float64
 2   horsepower           3247 non-null   float64
 3   vehicle_weight       3247 non-null   float64
 4   acceleration         2933 non-null   float64
 5   model_year           3247 non-null   int64
 6   origin               3247 non-null   object
 7   fuel_type            3247 non-null   object
 8   drivetrain           3247 non-null   object
 9   num_doors            3072 non-null   float64
 10  fuel_efficiency_mpg  3247 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 304.4+ KB

In [17]:
asia = asia[['vehicle_weight','model_year']]

In [18]:
asia

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [19]:
seven = asia.iloc[:7]

In [20]:
seven

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [21]:
X = seven.to_numpy()

In [22]:
XTX = X.T @ X

In [23]:
XTX_inv = np.linalg.inv(XTX)

In [24]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [25]:
XTX_inv.shape

(2, 2)

In [26]:
w = (XTX_inv @ X.T) @ y

In [27]:
np.sum(w)

np.float64(0.5187709081074016)